
#mainDiv {
  display: inline-grid;
  background-color: #9b9b8f;
  background-size: 100%;
}

.Navbar {
  position: fixed;
  width: 100vw;
  z-index: 20;
}
.header {
  background: linear-gradient(
  rgba(20,20,20, .6),
  rgba(20,20,20, .6)),
  url(/images/montana-lake.jpg);
  -webkit-filter: brightness(100%);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  border-bottom: 30px;
  border-style: solid;
  border-color: #9b9b8f;
  border-spacing: 100px;
  color: white;
  text-align: center;
}



.words {
 line-height: 60vh;
}

.thumbnail.pet-card {
   box-shadow: 3px 4px 23px -1px rgba(0,0,0,0.48);
   margin: 0 2px 15px;
   -webkit-column-break-inside: avoid;
   -moz-column-break-inside: avoid;
   column-break-inside: avoid;
   padding: 15px;
   padding-bottom: 5px;
   width: 230px;
   -webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
   -o-transition: all .2s ease;
   transition: all .2s ease;
}

.thumbnail.pet-card img {
   width: 100%;
}

#wrapper {
	width: 1000px;
	/*max-width: 1100px;
	min-width: 800px;*/
  padding-top: 100px;
	margin: 0px auto;
}

#columns {
	-webkit-column-count: 4;
	/*-webkit-column-gap: 10px;*/
	-webkit-column-fill: auto;
	-moz-column-count: 4;
	/*-moz-column-gap: 10px;*/
	-moz-column-fill: auto;
	column-count: 4;
	/*column-gap: 15px;*/
	column-fill: auto;
};

/*@media (max-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}*/

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}

.yellow-button {
  background-color: #F1B73F;
}

.blue-button {
  background-color: #007187;
  color: white;
}

 .homethumb {
   background-size: 100%;
 }
