
body {
  /*display: inline-grid;*/
  background-color: #dbdbdb;
  background-size: 100%;
}

.navbar .container {
  margin: 0px;
}

.navbar-right {
  margin-right: -17vw;
}

.navbar-brand {
  position: absolute;
  /*overflow: hidden;*/
  max-width: 420px;
  padding-top: 1vh;
  padding-bottom: 0;
}

@media (max-width:480px) {
  .navbar-brand {
    max-width: 80vw;
  }
}

.Navbar {
  position: fixed;
  width: 100vw;
  z-index: 20;
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Raleway', sans-serif;
}

.navButton {
  background-color: white;
  color: black;
}

.navButton:hover {
  background-color: black;
}

Button:active {
  background-color: white;
}

Button:focus {
  background-color: white;
}

.navLinks {
  margin-top: 1vh;
}

.dogContainer {
  width: 100vw;
  height: 100%;
}

.homeContainer {
  overflow: hidden;
  background-size: cover;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.header {
  -webkit-transition: transform 3s ease-in-out;
  background: url(/images/logo3.png) no-repeat, url(/images/dogsrunning2.jpg) no-repeat;
  background-size: 300px, cover;
  background-position: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: -20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  background-attachment: fixed
}

@media (max-width:480px) {
  .header {
    background: url(/images/logo3.png) no-repeat, url(/images/dogsrunningcropped.jpg) no-repeat;
    background-size: 250px, cover;
    background-position: center;
  }
}

.header img {
  max-width: 100%;
  -moz-transition: all 1.4s;
  -webkit-transition: all 1.4s;
  -webkit-transition: all .5s ease-in-out;
}

.header:hover {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.words {
  line-height: 70vh;
}

.homediv1 {
  display:block;
  margin: 3%;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  box-shadow: 3px 4px 23px -1px rgba(0,0,0,0.48);
  -webkit-transition: transform .5s ease-in-out;
}

.homediv1 img {
  -moz-transition: all 1.4s;
  -webkit-transition: all 1.4s;
  -webkit-transition: all .5s ease-in-out;
  opacity: 0.8;
}

/*---------------------------------------------div to work on------------------------------------*/
/*.child {
  z-index: 999;
  display: none;
}

.homediv1:hover .child {
  display: block;
  text-align: center;
}*/
/*------------------------------------------------end-----------------------------------------*/
.homediv1:hover img {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  opacity: 1;
  transition: 1s;
}

.homediv2 {
  display:block;
  margin: 3%;
  font-family: 'Raleway', sans-serif;
  box-shadow: 3px 4px 23px -1px rgba(0,0,0,0.48);
  -webkit-transition: transform .5s ease-in-out;
}

.homediv2 img {
  -moz-transition: all 1.4s;
  -webkit-transition: all 1.4s;
  -webkit-transition: all .5s ease-in-out;
  opacity: 0.8;
}

.homediv2:hover img {
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  opacity: 1;
  transition: 1s;
}

.sponsorship {
  background-color: #222222;
  color: #ffffff;
  width: 100vw;
  height: 40vh;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

@media (max-width:480px) {
  .sponsorship {
    height: 55.4vh;
  }
}

.sponsorshipHeader {
  line-height: 10vh;
  font-family: 'Raleway', sans-serif;
}

/*------------------------------------DisplayPets----------------------*/
.thumbnail.pet-card {
  box-shadow: -2px 4px 10px -1px rgba(0,0,0,.4);
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  /*column-break-inside: avoid;*/
  margin: 10px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

@media screen and (min-width:480px) {
  .thumbnail.pet-card {
    padding: 0px;
    margin-bottom: 20px;
    width: 400px;
    margin-top: 10px;
  }
}

@media (min-width:1281px) {
  .thumbnail.pet-card {
    width: 320px;
    margin-left: 1.5vw;
  }
}

.thumbnail.pet-card {
  background-color: #f2f2f2;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: justify;
}

.thumbnail.pet-card img {
  width: 100%;
  border-radius: 5px;
}

#wrapper {
	width: 100vw;
  padding-top: 10vh;
}

#columns {
	column-gap: 0vw;
  padding-top: 50px;
  padding-bottom: 20px;
};

@media (min-width:480px) {
  #columns {
    column-count: 1;
  }
}

@media (min-width: 820px) {
  #columns {
    column-count: 2;
  }
}

@media screen and (min-aspect-ratio: 370/665) and (max-aspect-ratio: 1024/1366) {
  #columns {
    column-count: 1;
  }
  .thumbnail.pet-card {
    text-align: center;
    width: 100vw;
    margin-left: 0px;
    margin-bottom: 1vh;
  }
}

@media (min-width: 1228px) {
  #columns {
    column-count: 3;
  }
}

@media (min-width:1281px) {
  #columns{
    column-count: 4;
  }
}

.heart-button {
  color: red;
}

#image-gallery-image {
  max-width: 275px;
  max-height: 300px;
  box-shadow: 3px 4px 23px -1px rgba(0,0,0,0.48);
  border-radius: 5px;
}

#card-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: justify;
}
