
#mainDiv {
  display: inline-grid;
  background-color: #00A47D;
  background-size: 100%;

}

.thumbnail {
   width: 340px;
   height: 575px;
   box-shadow: 3px 4px 23px -1px rgba(0,0,0,0.48);
}

.thumbnail img {
   width: 100%;
   height: 425px;
}

.yellow-button {
  background-color: #F1B73F;
}

.blue-button {
  background-color: #007187;
  color: white;
}
